{% extends 'server/base.html' %}

{% block content%}
<div class="uk-position-relative">
    <header>
        <h1 >Système Télésurveillance Médicale</h1>
    </header>
    <div class="container">
        <div class="row justify-content-around bbs ">
            <button type="button" class="btn btn-danger"><a class="nav-item nav-link" href="{% url 'dash' %}" style="color: aliceblue;">Diagnostique</a></button>
            <button type="button" class="btn btn-danger"><a class="nav-item nav-link" href="" style="color: aliceblue;">Historique<a></butto>
        </div>
    </div>
</div>
{% endblock %}