{% extends "server/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <form method="POST">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                <div class="row row-cols-2">
                    <div class="col-12">
                    <label for=`{prof_form.prenom}`>Username</label>
                    {{ form.username |add_class:'form-control border border-warning rounded' }}
                    </div>
                    <div class="col-12">
                    <label for=`{prof_form.prenom}`>Email</label>
                    {{ form.email |add_class:'form-control border border-warning rounded' }}
                    </div>
                    <div class="col-12">
                    <label for=`{prof_form.nom}`>Password</label>
                    {{ form.password1 |add_class:'form-control border border-warning rounded' }}
                    </div>
                    <div class="col-12">
                        <label for=`{prof_form.nom}`>Password</label>
                        {{ form.password2 |add_class:'form-control border border-warning rounded' }}
                        </div>
                </div>
                <div class="col-12 form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </fieldset>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
      </div>
{% endblock content %}
